.footer_link {
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 1em 0;
}

.footer-list {
  padding: 1em 0;
}

.footer-list_item {
  color: #14c8ff;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-list_item {
    text-align: unset;
  }
}
