.footer_link {
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 1em 0;
}

.footer-list {
  padding: 1em 0;
}

.footer-list_item {
  color: #ff005e;
}

.footer-list_item:hover {
  color: #fff;
  transition: 2s;
}
