<footer id="footer" class="footer-bg">
  <div class="container">
    <ul id="footer-links" class="footer_link">
      <li>
        <a
          href="https://www.linkedin.com/in/gideon-oriero-oviemuno-a145601a8/"
          target="_blank"
          ><i class="fa-i fab fa-2x fa-linkedin-in"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/geddev1617" target="_blank"
          ><i class="fa-i fab fa-2x fa-github"></i
        ></a>
      </li>
      <li>
        <a href="#form"><i class="fa-i fas fa-2x fa-inbox"></i></a>
      </li>
    </ul>
  </div>
  <div class="container">
    <ul class="footer-list">
      <li class="footer-list_item">
        <span class="attribution">GIDEON</span> &copy;2021
      </li>
    </ul>
  </div>
</footer>
