figcaption {
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  line-height: 2;
  font-weight: 100;
  margin: 0 auto;
  padding: 0.8em 0;
}

i {
  margin: 0.8em 0;
}

p,
li {
  font-size: 1rem;
  font-weight: 100;
  padding: 0 1em;
}

.li-padding {
  margin: 0em;
  padding: 0em;
  line-height: 1.8;
  list-style-type: "-";
}

.about {
  padding: 2em 0;
  text-align: center;
}

.about-width {
  margin: 2em auto;
  max-width: 55%;
}

.profile-img {
  max-width: 50%;
  margin: 1.5em auto;
}

.portfolio-img {
  border-radius: 100%;
  margin: 1em 0;
}

.skill-padding {
  padding: 1.5em;
}

.skill-margin {
  margin: 0.5em 0;
  padding: 0.2em 0;
  line-height: 2;
}

.relevanttech-margin + .relevanttech-margin {
  margin-top: 1.5em;
}

@media (min-width: 768px) {
  .profile-img {
    max-width: 30%;
  }

  p,
  li,
  figcaption {
    font-size: 1.1rem;
  }

  .li-padding {
    line-height: 2;
  }

  .skill-margin {
    margin: 0.5em 0;
    padding: 0.2em 0;
  }

  .relevanttech-margin + .relevanttech-margin {
    margin-top: 0em;
  }
}
