<section id="about" class="midsection-bg mb-5">
  <div class="container about">
    <div class="text-center">
      <h2 class="about-heading">about</h2>
      <div class="header-bar bar"></div>
    </div>
    <div class="container">
      <div class="row">
        <figure class="profile-img">
          <img
            src="../../assets/profile-img.png"
            class="img-fluid portfolio-img"
            alt="profile picture"
          />
          <figcaption>
            <em>
              I build client-side solutions that users love. I relish
              implementing UI to match the UI design/wireframe. <br />
              I work smart and I am creative.</em
            >
          </figcaption>
        </figure>
      </div>
      <div class="">
        <div class="row">
          <div class="col-lg-7 skill-padding">
            <h3 class="text-start">Skills</h3>
            <div class="text-start">
              <p class="skill-margin">
                I write semantic HTML to provide users with more useful ways to
                navigate,access and interact with the web.
              </p>
              <p class="skill-margin">
                I create responsive layouts using "Mobile First", ensuring it
                works on any device, big or small.
              </p>
              <p class="skill-margin">
                I make webpages that work across acceptable numbers of web
                browsers.
              </p>
              <p class="skill-margin">
                Able to grasp and utilize new concepts quickly and efficiently.
              </p>
              <p class="skill-margin">
                Here is a selection of relevant technologies that I enjoy
                working with with:
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="relevanttech-bg mt-1">
        <div class="row d-flex justify-content-around">
          <div class="col-lg-3 col-md-6 text-start relevanttech-margin">
            <h4>Languages</h4>
            <ul class="cc">
              <li class="li-padding">CSS 3</li>
              <li class="li-padding">HTML 5</li>
              <li class="li-padding">Bootstrap</li>
              <li class="li-padding">Javascript(ES6)</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 text-start relevanttech-margin">
            <h4>Tools</h4>
            <ul>
              <li class="li-padding">Git</li>
              <li class="li-padding">Git-Hub</li>
              <li class="li-padding">VS Code</li>
              <li class="li-padding">Command Line Terminal</li>
              <li class="li-padding">Chrome Developer Tools</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 text-start relevanttech-margin">
            <h4>Framework/Libs</h4>
            <ul>
              <li class="li-padding">Bootstrap</li>
              <li class="li-padding">Angular</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 text-start relevanttech-margin">
            <h4>Additional</h4>
            <ul>
              <li class="li-padding">Figma</li>
              <li class="li-padding">Agile workflow</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
