<section id="about" class="about-bg">
  <div class="container">
    <div class="about">
      <div>
        <h2 class="about-heading t-align">about</h2>
      </div>
      <div class="header-bar bar"></div>
      <div class="flex-container">
        <div class="flex-item">
          <div class="badge-div">
            <div><i class="fas fa-3x fa-bolt"></i></div>
            <h3 class="badge-header">Adept</h3>
            <p class="badge-text">
              Able to grasp and utilize new concepts quickly and efficiently.
            </p>
          </div>
          <div class="badge-div">
            <div><i class="far fa-3x fa-window-maximize"></i></div>
            <h3 class="badge-header">Cross browser consistency</h3>
            <p class="badge-text">
              I build webpages that work across acceptable numbers of web
              browsers. My UI implementations are detail oriented, matching the
              design.
            </p>
          </div>
        </div>
        <div class="flex-item">
          <div class="badge-div">
            <div><i class="fas fa-3x fa-mobile-alt"></i></div>
            <h3 class="badge-header">Responsive</h3>
            <p class="badge-text">
              I create my layouts using "Mobile First", ensuring it works on any
              device, big or small.
            </p>
          </div>
          <div class="badge-div">
            <div><i class="fab fa-3x fa-accessible-icon"></i></div>
            <h3 class="badge-header">Accessibility</h3>
            <p class="badge-text">
              I write semantic HTML to provide users with more useful ways to
              navigate and interact with the web.
            </p>
          </div>
        </div>
      </div>
      <div class="skill flex-container">
        <div class="skills card-bg">
          <div class="skill-header">
            <h3 class="skill-text">Skills</h3>
          </div>
          <ul class="skills-list">
            <li>HTML 5</li>
            <li>CSS 3</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
            <li>Figma</li>
          </ul>
        </div>
        <div class="dev-tools skills card-bg">
          <div class="skill-header">
            <h3 class="skill-text">Developer tools</h3>
          </div>
          <ul class="skills-list">
            <li>VS Code</li>
            <li>Command Line Terminal</li>
            <li>Git-Hub</li>
            <li>Git</li>
            <li>Chrome Developer Tools</li>
          </ul>
        </div>
      </div>
      <div class="profile-bio card-bg">
        <figure>
          <img src="assets/profile.JPEG" alt="profile" class="portfolio-img" />

          <figcaption>
            I like to code things from scratch and enjoy bringing UI designs to
            life on the web. <br />I work smart and I am creative.
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
