<section id="about" class="about-bg">
  <div class="container about">
    <div class="text-center">
      <h2 class="about-heading">about</h2>
      <div class="header-bar bar"></div>
    </div>
    <div class="container">
      <div class="row">
        <figure class="profile-img">
          <img
            src="../../assets/profile-img.png"
            class="img-fluid portfolio-img"
            alt=""
          />
          <figcaption>
            I build client-side solutions that users love. I relish implementing
            UI to match the UI design/wireframe. <br />
            I work smart and I am creative.
          </figcaption>
        </figure>
      </div>
      <div class="skill container mt-5">
        <div class="row d-flex justify-content-between">
          <div class="skills primary-bg col-lg-3 col-12">
            <div class="skill-header">
              <h3 class="skill-text">Skills</h3>
            </div>
            <ul class="skills-list text-center">
              <li>CSS 3</li>
              <li>HTML 5</li>
              <li>Bootstrap</li>
              <li>Javascript(ES6)</li>
            </ul>
          </div>
          <div class="dev-tools skills primary-bg col-lg-3 col-12">
            <div class="skill-header">
              <h3 class="skill-text">Developer tools</h3>
            </div>
            <ul class="skills-list text-center">
              <li>Git</li>
              <li>Figma</li>
              <li>Git-Hub</li>
              <li>VS Code</li>
              <li>Command Line Terminal</li>
              <li>Chrome Developer Tools</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-6">
          <div><i class="fas fa-3x fa-bolt"></i></div>
          <h3 class="badge-header">Adept</h3>
          <p class="badge-text">
            Able to grasp and utilize new concepts quickly and efficiently.
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <div><i class="far fa-3x fa-window-maximize"></i></div>
          <h3 class="badge-header">Cross browser consistency</h3>
          <p class="badge-text">
            I make webpages that work across acceptable numbers of web browsers.
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <div><i class="fas fa-3x fa-mobile-alt"></i></div>
          <h3 class="badge-header">Responsive</h3>
          <p class="badge-text">
            I create my layouts using "Mobile First", ensuring it works on any
            device, big or small.
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <div><i class="fab fa-3x fa-accessible-icon"></i></div>
          <h3 class="badge-header">Accessibility</h3>
          <p class="badge-text">
            I write semantic HTML to provide users with more useful ways to
            navigate and interact with the web.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
