<section id="contact" class="contact-bg">
  <div class="container">
    <div class="form-div">
      <div>
        <h2 class="form-header">CONTACT</h2>
      </div>
      <div class="header-bar"></div>
      <div class="contact-cta">
        <p class="contact-text">want to work together? let's have a chat.</p>
      </div>
      <form
        id="form"
        action="https://formsubmit.co/04a4d487d0e3238d0d0c6a25ee25dc21"
        method="POST"
      >
        <ul class="form-list">
          <li>
            <label for="name">Name:</label>
            <input
              class="form-bg"
              type="text"
              id="name"
              name="User_Name"
              placeholder="name"
              required
            />
          </li>
          <li>
            <label for="email">E-mail:</label>
            <input
              class="form-bg"
              type="email"
              id="email"
              name="user_email"
              placeholder="email"
              required
            />
          </li>
          <li>
            <label for="msg">Message:</label>
            <textarea
              class="form-bg"
              name="message"
              id="msg"
              cols="30"
              rows="10"
              placeholder="Enter your message"
              required
            ></textarea>
          </li>
          <li>
            <button type="submit" class="bttn-sec">Submit</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</section>
