<header class="sticky-top bg-header">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#main">FINDGIDEON</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link n-link-text" id="navhome" href="#main">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link n-link-text" id="navabout" href="#about"
              >ABOUT</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#contact"
              id="navcon"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              CONTACT
            </a>
            <ul class="dropdown-menu primary-bg" aria-labelledby="navcon">
              <li class="nav-list_item">
                <i
                  class="
                    dropdown-item
                    fas
                    fa-1x
                    text-center
                    fa-phone-alt
                    navdropdown
                  "
                ></i>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li class="nav-list_item">
                <a
                  href="https://www.linkedin.com/in/gideon-oriero-oviemuno-a145601a8/"
                  target="_blank"
                  ><i
                    class="
                      dropdown-item
                      fab
                      fa-1x
                      text-center
                      fa-linkedin
                      navdropdown
                    "
                  ></i
                ></a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li class="nav-list_item">
                <a href="#form"
                  ><i
                    class="
                      dropdown-item
                      fas
                      fa-1x
                      text-center
                      fa-inbox
                      navdropdown
                    "
                  ></i
                ></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
