#navhome,
#navabout,
#navpot,
#navcon {
  color: #04c2c9;
  font-size: 1rem;
}

#navhome:hover,
#navabout:hover,
#navpot:hover,
#navcon:hover,
.navbar-brand:hover {
  color: #e31b6d;
  transition: 1s;
}

.navbar-brand {
  font-weight: 600;
  color: #04c2c9;
}
