#navhome,
#navabout,
#navcon {
  //   color: #e31b6d;
  color: #ff005e;
  font-size: 1rem;
}

#navhome:hover,
#navabout:hover,
#navport:hover,
#navcon:hover,
.navbar-brand:hover {
  color: #fff;
  transition: 1s;
}

.navbar-brand {
  font-weight: 600;
  color: #ff005e;
}
