<header class="sticky-top bg-header">
  <nav class="container navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#main">FINDGIDEON</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link n-link-text" id="navhome" href="#main">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link n-link-text" id="navabout" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navpot" href="#projects">PORTFOLIO</a>
        </li>
        <li class="nav-list_item">
          <a href="#contact" class="nav-link" id="navcon">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
