<header class="sticky-top bg-header">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#main">FINDGIDEON</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link n-link-text" id="navhome" href="#main">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link n-link-text" id="navabout" href="#about"
              >ABOUT</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" id="navport" href="#projects">PORTFOLIO</a>
          </li> -->
          <li class="nav-list_item">
            <a href="#contact" class="nav-link" id="navcon">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
