<section id="projects" class="portfolio-bg mt-3">
  <div class="container">
    <div class="project">
      <div>
        <h2 class="project-header text-center">projects</h2>
      </div>
      <div class="header-bar bar"></div>
      <!-- <figure class="test">
    <img src="https://images.freeimages.com/images/premium/previews/3252/3252135-music-stage.jpg">
    <figcaption>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lorem nunc, sollicitudin a nisi sodales, imperdiet dignissim enim. Nam sapien quam</p>
    </figcation>
</figure> -->
      <div class="project-box">
        <div>
          <img src="" alt="" />
        </div>
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
        <a href="#" routerLink="project-holder" class="btn btn-danger view-more"
          >view more</a
        >
      </div>
    </div>
  </div>
</section>
