<section id="projects" class="profile-bg mt-3">
  <div class="container">
    <div class="project">
      <div>
        <h2 class="project-header text-center">projects</h2>
      </div>
      <div class="header-bar bar"></div>
      <div class="project-box">
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
        <a
          target="_blank"
          href="https://github.com/geddev1617"
          class="btn btn-danger view-more"
          >view more</a
        >
      </div>
    </div>
  </div>
</section>
