<section id="projects" class="portfolio-bg mt-3">
  <div class="container">
    <div class="project">
      <div>
        <h2 class="project-header text-center">projects</h2>
      </div>
      <div class="header-bar bar"></div>
      <section class="container">
        <ul class="row">
          <li class="col-lg-4">
            <figure class="test">
              <img
                src="assets/hoolio-invoice-app-landing-page.svg"
                alt="invoice app landing page"
              />
              <figcaption class="">
                <h3>Hoolio Invoice</h3>
                <p>Create and deliver your invoices with ease.</p>
              </figcaption>
            </figure>
          </li>
          <li class="col-lg-4">
            <figure class="test">
              <img src="assets/Fylo-landingpage.jpg" alt="Fylo Landing page" />
              <figcaption>
                <h3>Fylo</h3>
                <p>
                  All your files in one secure location, accessible anywhere.
                </p>
              </figcaption>
            </figure>
          </li>
          <li class="col-lg-4">
            <figure class="test">
              <img
                src="assets/Freecodecamp-survey-form.png"
                alt="Freecodecamp survey form"
              />
              <figcaption>
                <h3>Survey Form</h3>
              </figcaption>
            </figure>
          </li>
        </ul>
        <a href="#" routerLink="project-holder" class="btn btn-danger view-more"
          >view more</a
        >
      </section>
    </div>
  </div>
</section>
