/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1rem;
}

nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  color: #14c8ff;
}

img {
  max-width: 90%;
  height: auto;
}

header {
  padding: 0.2em 0;
}

hr {
  color: #989a9e;
}

/* global classes styling */

figure.test {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  // width: 44%;
}
figure.test img {
  width: 100%;
  height: 100%;
}
figure.test figcaption {
  position: absolute;
  top: 50%;
  left: 22.5%;
  right: 22.5%;
  margin: 0 auto;
  width: 200px;
  opacity: 0;
  z-index: 1;
  transition: all 0.8s ease-out;
  transition-delay: 0.2s;
}
figure.test:after {
  display: inline-block;
  position: absolute;
  content: "";
  top: 7%;
  left: 10%;
  right: 10%;
  bottom: 7%;
  background: white;
  opacity: 0;
  transition: all 0.8s ease-out;
}
figure.test:hover:after {
  opacity: 0.9;
}
figure.test:hover figcaption {
  transform: translateY(-50%);
  opacity: 1;
}

.project-holder1 {
  margin: 3rem auto;
}

.btn-danger {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: 1px solid #14c8ff;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #6e92a6;
  transition: background-color 2s;
}

.header-bar {
  margin: 12px auto;
  width: 90px;
  border-bottom: 4px solid #fff;
}

.bar {
  border-bottom: 4px solid #121213;
}

.about-heading,
.badge-header,
.skill-text,
.project-header {
  text-transform: uppercase;
}

.about,
.project,
.form-div {
  padding: 2em 0;
}

.fa-i {
  color: #14c8ff;
}

.fa-i:hover {
  color: #fff;
  transition: 2s;
}

$colorScheme: (
  primary: #121213,
  secondary: #1b262c,
  light: #ccd9e0,
  light-grey: #f5f5f5,
  form: #1e242c,
  tertiary: #989a9e,
  whyte: #f1f1f1,
);

@function color($key) {
  @return map-get($colorScheme, $key);
}

.bg-header {
  background-color: color(primary);
  border-bottom: 3px solid #14c8ff;
  color: #ffff;
}

.midsection-bg {
  background: color(whyte);
  opacity: 3;
  color: #121213;
}

.relevanttech-bg {
  color: #121213;
  padding: 1em;
}

.primary-bg {
  background-color: color(primary);
  color: #1b262c;
}

.portfolio-bg {
  background-color: color(tertiary);
  color: #121213;
}

.contact-bg {
  background-color: color(primary);
}

.form-bg {
  background-color: color(secondary);
}

@media (min-width: 768px) {
  .relevanttech-bg {
    background: color(light-grey);
  }
}

@media (min-width: 1440px) {
  .project-holder1 {
    margin: 5rem auto;
  }
}
