.hero-section {
  background-image: url(src/assets/pexels-francesco-ungaro-998641.jpg);
  height: 95vh;
}

.hero {
  display: grid;
  place-items: center;
  padding-top: 40vh;
}

.name-link {
  color: #e31b6d;
}

.name-link:hover {
  color: #70224a;
  transition: 3s;
}

.hero-text {
  text-align: center;
  color: #ffff;
  font-size: 1.333rem;
}

@media (min-width: 600px) {
  .hero-text {
    font-size: 2rem;
  }
}
