.hero-section {
  background-image: url(src/assets/portfoliobg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
}

.hero {
  padding-top: 40vh;
}

.name-link {
  color: #a8adb7;
}

.hero-text {
  color: #ffff;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .hero-text {
    font-size: 2rem;
  }
}
