<main id="main" class="findgideon midsection-bg">
  <app-navbar></app-navbar>
  <Section class="hero-section">
    <div class="container">
      <div class="row hero text-center">
        <h1 class="hero-text">
          Hello I'm
          <a href="#about" class="name-link">GIDEON.</a>
        </h1>
        <p class="hero-text">
          A budding Front-End Web Developer <br />and I love what I do.
        </p>
        <div class="button">
          <a href="#projects" class="btn btn-danger">view my work</a>
        </div>
      </div>
    </div>
  </Section>
  <app-about></app-about>
  <app-portfolio></app-portfolio>
  <app-getintouch></app-getintouch>
  <app-footer></app-footer>
</main>
